body{
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h2{
    font-size: 50px;
    text-align: center;
    color: silver;
    text-decoration-color: aqua;
    font-family: fantasy;
    margin-top: 100px;
}
h1{
    font-size: 30px;
    text-align: center;
    text-decoration-color:cornflowerblue;
    font-family:cursive;
    color: silver;
}
#whoweare{
        background-color: blueviolet;
        color: aliceblue;
        margin-top: 20px;
        margin-left: 550px;
        border-radius: 10px;
        font-size: medium;
        padding: 30px 200px;
        align-items: center;
}
#wwoffer{
    background-color: blueviolet;
        color: aliceblue;
        margin-top: 40px;
        margin-left: 550px;
        border-radius: 10px;
        font-size: medium;
        padding: 30px 195px;
        align-items: center;
}
#Careers{
    background-color: blueviolet;
    color: aliceblue;
    margin-top: 40px;
    margin-left:550px;
    border-radius: 10px;
    font-size: medium;
    padding: 30px 220px;
    align-items: center;
}
#whoweare:hover, #wwoffer:hover, #Careers:hover{
        background-color: blue;
}
    